
<section class="schedule-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="text-white mb-4">
                    Etkinlik Takvimi </h2>

                    <div class="table-responsive">
                        <table class="schedule-table table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Zaman</th>

                                    <th scope="col">Cuma</th>

                                    <th scope="col">Cumartesi</th>

                                    <th scope="col">Pazar</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="row">Gün 1</th>

                                    <td class="table-background-image-wrap pop-background-image">
                                        <h3>Pop Performansı</h3>

                                        <p class="mb-2">19:00 - 21:00 PM</p>

                                        <p>By Adele</p>

                                        <div class="section-overlay"></div>
                                    </td>

                                    <td style="background-color: #F3DCD4"></td>

                                    <td class="table-background-image-wrap rock-background-image">
                                        <h3>Rock Performansı</h3>

                                        <p class="mb-2">19:00 - 21:00 PM</p>

                                        <p>By Rihana</p>

                                        <div class="section-overlay"></div>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Gün 2</th>

                                    <td style="background-color: #ECC9C7"></td>

                                    <td>
                                        <h3>Rap Performansı </h3>

                                        <p class="mb-2">20:30 - 22:30 PM</p>

                                        <p>Travis Scoot</p>
                                    </td>

                                    <td style="background-color: #D9E3DA"></td>
                                </tr>

                                <tr>
                                    <th scope="row">Gün 3</th>

                                    <td class="table-background-image-wrap country-background-image">
                                        <h3>Dj Performansı </h3>

                                        <p class="mb-2">16:30 - 17:30 PM</p>

                                        <p>By Rihana</p>

                                        <div class="section-overlay"></div>
                                    </td>

                                    <td style="background-color: #D1CFC0"></td>

                                    <td>
                                        <h3>Serbest Zaman </h3>

                                        <p class="mb-2">16:00 - 18:00 PM</p>

                                        <p>By Members</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</section>
